[submodule "themes/Hugo-digital-garden-theme"]
    path = themes/Hugo-digital-garden-theme
     url = "https://github.com/paulmartins/hugo-digital-garden-theme.git"
[submodule "themes/hugo-digital-garden-theme"]
	path = themes/hugo-digital-garden-theme
	url = https://github.com/paulmartins/hugo-digital-garden-theme.git
